.content {
	font: 18px Tahoma;
	background-color: grey;
	width: 960px;
	height: 480px;
	margin-left: 440px;
	padding-top: 120px;
	padding-left: 70px;
	border-color: black;
	border-style: outset;
}

.selector{
	border-radius: 5px;
	background-color: ;
	padding: 5px;
	font: 22px Tahoma;
}
.button_red{
	border-radius: 40px 40px 40px 40px;
	background-color: red ;
	padding: 15px;
	font: 22px Tahoma;
}